<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style\style.css' %}">
    <link rel="stylesheet" href="{% static 'style\style.css' %}">
</head>
<body>
<header class="header">
    <div>
        <a href="/">
            <img src="{% static 'image\logo.png' %}" alt="logo">
            <h3>Cloud Storage</h3>
        </a>
        <input type="text" aria-label="" placeholder="Search files..">
        <button>
            <img src="{% static 'image\user.png' %}" alt="{{user}}">
        </button>
    </div>
</header>
<main>
    <aside>
        <div>
            <div>
                <span>
                    <button><img src="{% static 'icons\folder-plus-icon.svg' %}" alt="create folder"> Create Folder</button>
                </span>
                <span>
                    <button><img src="{% static 'icons\file-icon.svg' %}" alt="upload file"> Upload File</button>
                </span>
                <span>
                    <button><img src="{% static 'icons\folder-icon.svg' %}" alt="upload folder"> Upload Folder</button>
                </span>
            </div>
            <div>
                <p>Used {{ home_data.used_space }} GB from {{ home_data.space }} GB</p>
            </div>
        </div>
    </aside>
    <section>
        <span class="path__container">
            <button>Opened for me</button>
            <img src="{% static 'icons\arrow-right-icon.svg' %}" alt="arrow right">
            <button>Course 4</button>
            <img src="{% static 'icons\arrow-right-icon.svg' %}" alt="arrow right">
            <button>NoSQL-system</button>
            <img src="{% static 'icons\arrow-right-icon.svg' %}" alt="arrow right">
            <button>Test Module Neo4j</button>
        </span>
    </section>
</main>
</body>
</html>