<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style\style.css' %}">
    <link rel="stylesheet" href="{% static 'style\style.css' %}">
</head>
<body>
<header class="header">
    <div>
        <a href="/">
            <img src="{% static 'image\logo.png' %}" alt="logo">
            <h3>Cloud Storage</h3>
        </a>
        <input type="text" aria-label="" placeholder="Search files..">
        <button>
            <img src="{% static 'image\user.png' %}" alt="{{user}}">
        </button>
    </div>
</header>
<main>
    <aside>
        <div>
            <span><button> <img src="{% static 'icons\plus-icon.svg' %}" alt="create"> Create</button></span>
            <div>
                <p>Used {{ user.used_space }} from {{ user.space }} GB</p>
            </div>
        </div>
    </aside>
    <section>

    </section>
</main>
</body>
</html>