<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style\style.css' %}">
</head>
<body>
<div class="form__container">
    {% csrf_token %}
    <form action="">
        <h1>LOGIN</h1>
        <p>Please enter your login and password!</p>
        <input type="text" placeholder="Username" aria-label="" name="name">
        <input type="password" placeholder="Password" aria-label="" name="password">
        <button type="submit">Login</button>
        <a href="/register">Don't have an account yet?</a>
    </form>
</div>
</body>
</html>